p {
    font-size: medium;
    font-style: italic;
}

.detail {
    background-color: rgb(55, 100, 168);
    box-shadow: 0px 0px 2px rgb(0 0 0 / 50%);
    width: 40%;
    margin-right: 40px;
    padding: 20px;
}